@tailwind base;
@tailwind components;
@tailwind utilities; 

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}
.ql-editor.ql-blank::before{
    color: rgba(103, 53, 53, 0.6);
}

.post-content p{
    margin-bottom: 0.5rem;
}

.post-content h1{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.post-content h2{
    font-family: sans-serif;
    font-size: 1.4rem;
    margin: 1.5rem 0;
}

.post-content a{
    color: rgb(73,149,199);
    text-decoration: none;
}
.post-content a:hover{
    text-decoration: underline;
}

.dark .post-content a {
    color: yellow;
    text-decoration: none;
}